<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <a class="logo-link" href="/src/index.html" aria-label="Green Harvest - Home page">
  <svg class="logo-icon" width="16" height="16" aria-hidden="true">
    <use href="../src/img/sprite.svg#logo-icon"></use>
  </svg>
  <svg class="logo-name" width="146" height="12" aria-hidden="true">
    <use href="../src/img/sprite.svg#logo-name"></use>
  </svg>
</a>
      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-item">
          <a class="footer-nav-link" href="#how-it-works">how it works</a>
        </li>
        <li class="footer-item">
          <a class="footer-nav-link" href="#vegetables">vegetables</a>
        </li>
        <li class="footer-item">
          <a class="footer-nav-link" href="#review">reviews</a>
        </li>
      </ul>
    </nav>
    <address class="footer-address">
      <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <a
        class="footer-address-line"
        href="https://www.google.com/maps/place/1678+S+Pioneer+Rd,+Salt+Lake+City,+UT+84104"
        target="_blank"
        rel="noopener noreferrer"
      >
        1678 S. Pioneer Road Salt Lake City UT 84104
      </a>
    </address>
    <div class="privacy-copyright-wrap">
      <p class="privacy-text">
        <a class="privacy">Privacy Policy</a>
        /
        <a class="privacy" target="_blank" href="#"
          >Cookie settings</a
        >
      </p>
      <p class="copyright">
       <a class="copiright-link" href="#" aria-label="Copyright © Green Harvest 2023">© Green Harvest 2023</a>
      </p>
    </div>
  </div>
</footer>
