<header class="header">
  <div class="container">
    <a class="logo-link" href="/src/index.html">
      <svg class="logo-icon" width="16" height="16">
        <use href="../img/sprite.svg#logo-icon"></use>
      </svg>
      <svg class="logo-name" width="146" height="12">
        <use href="../img/sprite.svg#logo-name"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-menu">
        <li class="header-item">
          <a class="header-link" href="how-link"> How It Works </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="vegetables"> Vegetables </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="review"> Reviews </a>
        </li>
      </ul>
    </nav>
    <a class="shop-btn header-shop-btn" href=""> Shop now </a>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="24">
        <use href="../img/sprite.svg#burger-btn">0</use>
      </svg>
    </button>

    <!-- #region menu mob tablet -->
    <div class="menu-backdrop-wr is-open" data-menu>
      <div class="menu-backdrop">
        <button class="menu-button-close" type="button" data-menu-close>
          <svg class="menu-button-close-svg">
            <use href="/img/sprite.svg#close-btn" />
          </svg>
        </button>
        <div class="menu-wrapper">
          <ul class="menu-list">
            <li class="menu-item">
              <a class="menu-link current" href="#">How It Works</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Vegetables</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Reviews</a></li>
          </ul>
        </div>
        <button class="menu-btn-shop" type="button">Shop now</button>
      </div>
    </div>
  </div>
  <!-- #endregion menu mob tablet -->
</header>
