<header class="header">
  <div class="container">
    <a
      class="logo-link"
      href="/src/index.html"
      aria-label="Green Harvest - Home page"
    >
      <svg class="logo-icon" width="16" height="16" aria-hidden="true">
        <use href="../src/img/sprite.svg#logo-icon"></use>
      </svg>
      <svg class="logo-name" width="146" height="12" aria-hidden="true">
        <use href="../src/img/sprite.svg#logo-name"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-menu">
        <li class="header-item">
          <a class="header-link" href="#how-link"> How It Works </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#vegetables"> Vegetables </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#review"> Reviews </a>
        </li>
      </ul>
    </nav>
    <a
      class="shop-btn shop-btn-header"
      href="#section-order"
      aria-label="Order vegetables now"
    >
      Shop now
    </a>
    <button
      class="burger-btn"
      type="button"
      aria-label="Open navigation menu"
      data-menu-open
    >
      <svg class="burger-icon" width="32" height="24" aria-hidden="true">
        <use href="../src/img/sprite.svg#burger-btn"></use>
      </svg>
    </button>
  </div>
  <div class="menu-backdrop-wr" data-menu>
    <div class="menu-backdrop">
      <button
        class="menu-button-close"
        type="button"
        data-menu-close
        aria-label="Close menu"
      >
        <svg
          class="menu-button-close-svg"
          aria-hidden="true"
          width="16"
          height="16"
        >
          <use href="/img/sprite.svg#close-btn"></use>
        </svg>
      </button>
      <div class="menu-wrapper">
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link current" href="#how-link">How It Works</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#review">Reviews</a>
          </li>
        </ul>
        <a
          href="#section-order"
          aria-label="Order vegetables now"
          class="menu-btn-shop"
          >Shop Now
        </a>
      </div>
    </div>
  </div>
</header>
