<section class="section-how section" id="how-link">
  <h2 class="visually-hidden">Easy steps</h2>
  <div class="container container-how">
    <div class="how-img" data-aos="fade-right" data-aos-duration="1000">
      <div class="how-img-container">
        <picture>
          <source
            srcset="/img/how/HowDesctop.webp 1x, /img/how/HowDesctop@2x.webp 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/how/HowTab.webp 1x, /img/how/HowTab@2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/how/HowMob.webp 1x, /img/how/HowMob@2x.webp 2x"
            media="(max-width: 767px)"
          />

          <img
            class="how-img-mob"
            src="/img/how/HowMob.webp"
            alt="Woman cooking vegetables"
            width="335"
            height="450"
          />
        </picture>
      </div>
    </div>
    <div class="easy-steps" data-aos="fade-left" data-aos-duration="1000">
      <p class="cta-text">
        To order your <span class="transparent-text">vegetable</span> basket,
        simply follow these <span class="transparent-text">easy steps</span>
      </p>
      <p class="descr-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="steps-list">
        <li class="steps-item">
          <span class="li-wrapper-1">
            Just choose <span class="bold">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="bold">next to it</span>.
          </span>
        </li>
        <li class="steps-item">
          <span class="li-wrapper-2">
            Click on <span class="bold">the basket</span> and fill out the form.
          </span>
        </li>
        <li class="steps-item">
          <span class="li-wrapper-3">
            Sit back and relax! Your
            <span class="bold">fresh vegetables</span> basket will be delivered.
          </span>
        </li>
      </ol>
    </div>
  </div>
</section>
