<section class="section order-section" id="section-order">
  <div class="container">
    <h2
      class="title-second title-order"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      fresh <span class="accent-title-order">harvest</span> box has got you
      covered
    </h2>
    <p class="content-order" data-aos="fade-up" data-aos-duration="1000">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="form-social-wrapper">
      <div
        class="contact-block-order"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <p class="slogan-block-order">
          Ordering <span class="accntred-slogan-order">from us</span> is quick
          and easy! Fill out
          <span class="accntgreen-slogan-order">the form</span> below and we
          will contact you !
        </p>
        <form class="form-block-order">
          <div class="form-wrapper-field-order">
            <label class="visually-hidden" for="user-name"></label>
            <input
              class="form-input-order"
              maxlength="32"
              id="user-name"
              name="user-name"
              type="text"
              placeholder="Full Name"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>
          <div class="form-wrapper-field-order">
            <label class="visually-hidden" for="user-name"></label>
            <input
              class="form-input-order"
              maxlength="32"
              id="user-email"
              name="user-email"
              type="email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>
          <div class="form-wrapper-field-order text-area-order">
            <label class="visually-hidden" for="user-comment"></label>
            <textarea
              class="form-comment-order"
              maxlength="500"
              name="user-comment"
              id="user-comment"
              placeholder="Comment"
            ></textarea>
          </div>
          <button class="form-order-btn" type="submit">Send</button>
        </form>
      </div>
      <div
        class="social-block-order"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <div class="img-wrapper-social-order">
          <picture>
            <source
              srcset="
                /img/order/order-img.webp    1x,
                /img/order/order-img@2x.webp 2x,
                /img/order/order-img@3x.webp 3x
              "
              media="(min-width: 1280px)"
              width="427"
              height="273"
            />
            <source
              srcset="
                /img/order/order-img-tab.webp    1x,
                /img/order/order-img-tab@2x.webp 2x
              "
              media="(min-width: 768px)"
              width="528"
              height="273"
            />
            <source
              srcset="
                /img/order/order-img-mob.webp    1x,
                /img/order/order-img-mob@2x.webp 2x
              "
              media="(max-width: 767px)"
              width="295"
              height="273"
            />
            <img
              class="img-social-order"
              src="/img/order/order-img.webp"
              loading="lazy"
              alt="Cooking smoothie"
            />
          </picture>
        </div>

        <p class="title-social-order">Follow us on our social networks:</p>
        <ul class="social-list-order">
          <li>
            <a
              class="link-social-order"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              >instagram</a
            >
          </li>
          <li><span class="social-links-border">/</span></li>
          <li>
            <a
              class="link-social-order"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >facebook</a
            >
          </li>
          <li><span class="social-links-border">/</span></li>
          <li>
            <a
              class="link-social-order"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
