<section class="section section-vegetables" id="vegetables">
  <div class="container">
    <h2
      class="title-second vegetables-title"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      organic
      <span class="vegetables-title-shadow"> vegetables</span>
    </h2>
    <p class="vegetables-text" data-aos="fade-up" data-aos-duration="1000">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list" data-aos="fade-left" data-aos-duration="1000">
      <li class="vegetables-item">
        <h3 class="vegetables-name">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <img
          class="vegetables-image"
          srcset="
            /img/vegetables/eggplant@2x.png 2x,
            /img/vegetables/eggplant@3x.png 3x
          "
          src="/img/vegetables/eggplant.png"
          alt="eggplant"
          width="282"
          height="243"
          loading="lazy"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <img
          class="vegetables-image"
          srcset="
            /img/vegetables/leek@2x.png 2x,
            /img/vegetables/leek@3x.png 3x
          "
          src="/img/vegetables/leek.png"
          alt="leek"
          width="282"
          height="243"
          loading="lazy" 
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <img
          class="vegetables-image"
          srcset="
            /img/vegetables/mushrooms@2x.png 2x,
            /img/vegetables/mushrooms@3x.png 3x
          "
          src="/img/vegetables/mushrooms.png"
          alt="mushrooms"
          width="282"
          height="243"
          loading="lazy" 
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <img
          class="vegetables-image"
          srcset="
            /img/vegetables/corn@2x.png 2x,
            /img/vegetables/corn@3x.png 3x
          "
          src="/img/vegetables/corn.png"
          alt="corn"
          width="282"
          height="243"
          loading="lazy" 
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <img
          class="vegetables-image"
          srcset="
            /img/vegetables/sweet-potatoes@2x.png 2x,
            /img/vegetables/sweet-potatoes@3x.png 3x
          "
          src="/img//vegetables/sweet-potatoes.png"
          alt="sweet potatoes"
          width="282"
          height="243"
          loading="lazy" 
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <img
          class="vegetables-image"
          srcset="
            /img/vegetables/carrot@2x.png 2x,
            /img/vegetables/carrot@3x.png 3x
          "
          src="/img/vegetables/carrot.png"
          alt="carrot"
          width="282"
          height="243"
          loading="lazy" 
        />
      </li>
    </ul>
  </div>
</section>

