/* ======Advertisement======= */

.section.advert {
    background-color: #fbfbfb;
}

.container.advert {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}

.advert-title {
    color: #141414;
    line-height: 1.04;
    max-width: 355px;
}

.advert-accent {
display: block;
    color: #fbfbfb;
    border-radius: 12px;
    background-color: #576f35;
    max-width: 355px;
}

@media screen and (min-width: 768px) {


.container.advert {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 736px;
}

.title-first {
    font-size: 64px;
    line-height: 1.09;
}

.advert-accent {
    max-width: 736px;
}

.advert-title {
    max-width: 704px;
}

}


@media screen and (min-width: 1280px) {

.container.advert {
    max-width: 1080px
}

.title-first {
    font-size: 76px;
   line-height: 1.05;
}

.advert-title {
    max-width: 1054px;
    
}

.advert-accent {
    max-width: 808px;
 display: inline-block;
}

}