.footer {
  background: #7a3145;
}

.footer .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-container-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  gap: 40px;
}

.footer-wrap .logo-link {
  padding: 0;
  margin-bottom: 14px;
}

.footer-wrap {
  max-width: 296px;
}

.logo-icon {
  width: 16px;
  height: 16px;
}
.logo-name {
  width: 146px;
  height: 12px;
}

.footer-nav-adr-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-item {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-item:hover,
.footer-nav-item:focus {
  color: rgba(251, 251, 251, 0.5);
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: 600;
  max-width: 179px;
}

.privacy-copyright-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.privacy-text span {
  margin-left: 8px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-container-wrapper {
    flex-direction: row;
    margin-bottom: 100px;
    justify-content: space-between;
    gap: 0;
  }

  .footer-wrap .logo-link {
    margin-bottom: 25px;
  }

  .footer-wrap {
    max-width: 265px;
  }

  .logo-icon {
    width: 18px;
    height: 18px;
  }
  .logo-name {
    width: 165px;
    height: 15px;
  }

  .footer-nav-adr-wrapper {
    gap: 64px;
  }

  .footer-nav-list {
    gap: 25px;
  }

  .footer-nav-item {
    font-size: 32px;
  }

  .footer-address {
    gap: 25px;
    font-size: 18px;
    line-height: 1.11;
    max-width: 215px;
  }

  .privacy-copyright-wrap {
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 1280px) {
  .footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-container-wrapper {
    margin-bottom: 125px;
  }

  .footer-nav-adr-wrapper {
    flex-direction: row;
    gap: 121px;
  }
}
