.header-page { 
   position: absolute;
   top:20px;
   
}

.header .container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link { 
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-icon,
.logo-name {
  fill: #fbfbfb;
  stroke: #fbfbfb;
}

.header-button,
.header-nav { 
    display: none;
}

.burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.burger-icon {
   stroke: #fbfbfb;
}

@media screen and (min-width: 768px) { 
    .header-page {
            top: 30px;
        }
    
}

@media screen and (min-width: 1280px) { 
.burger-btn { 
        display: none;
    }

.logo-link {
    margin-right: auto;
  }

.header-nav {
  display: flex;
  align-items: center;
}


.header-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

logo-link { 
    margin-right: auto;
} 

.header-link {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: 114px;
    height: 44px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
}

.header-link-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
   
}

.header-button {
    background: #7a3145;
}

.header-button:hover { 
    background-color: #622133;
}

.shop-btn-transform {
    display: block;
    border-radius: 30px;
    width: 157px;
    height: 52px;
    margin-left: 20px;
    border: none;
}



 
}
