/* ================= MOBILE ================= */

.hero-section{
    max-width:  100%;
    background-image: url(/img/hero/hero-img-mobile-black.webp);
    background-size: 375px 370px; 
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 100px;
    padding-bottom: 410px;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media screen and (min-resolution:192dpi){
    .hero-section { 
        background-image: url(../img/hero/hero-img-mobile-black@2x.webp);
    }
}

/* ================= /MOBILE ================= */


/* ================= TABLET ================= */


@media screen and (min-width:768px){
    .hero-section{
        background-image: url(/img/hero/hero-img-tablet-black.webp);
        background-size: 768px 539px;
        padding-top: 122px;
        padding-bottom: 589px;
    }

    .hero-title {
        font-size: 76px;
        margin-bottom: 25px;
    }
    .hero-text {
        max-width: 603px;
    }
}

@media screen and (min-width:768px) and (min-resolution:192dpi){
    .hero-section{
        background-image: url(/img/hero/hero-img-tablet-black@2x.webp);
    }
}

/* ================= /TABLET ================= */


/* ================= DESKTOP ================= */

@media screen and (min-width:1280px){

    
    .hero-section{
        background-image: url(/img/hero/hero-img-laptop-black.webp);
        background-size: 650px 800px;
        background-position: right;
        max-width: 1280px;
        
        padding-top: 238px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    .hero-title{
        margin-bottom: 128px;
        max-width: 502px;
    }

    .hero-text{
        max-width: 472px;
    } 

}

@media screen and (min-width:1280px) and (min-resolution:192dpi){
    .hero-section{
        background-image: url(/img/hero/hero-img-laptop-black@2x.webp);
    }
} 