/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./how.css');
@import url('./adv.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./order.css');
@import url('./footer.css');
