.section-vegetables{
    background-color: #7a3145;
}
.vegetables-title{
    margin-bottom: 20px;
    max-width: 335px;
}
.vegetables-title-shadow{
    color: rgba(251, 251, 251, 0.3);
    display: block;
}
.vegetables-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #fbfbfb;
    margin-bottom: 40px;
    max-width: 335px;

}
.vegetables-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.vegetables-item{
    border-radius: 40px;
    padding: 32px 26px;
    width: 334px;
    height: 379px;
    background: #fbfbfb;
}
.vegetables-name{
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #7a3145;
    margin-bottom: 12px;
}
.vegetables-price{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
}
@media screen and (min-width: 768px){
    .vegetables-title {
        margin-bottom: 50px;
       max-width: 508px;

        }
    .vegetables-text{
        margin-bottom: 50px;
        max-width: 626px;

    }
    .vegetables-list{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 28px;
    }
    .vegetables-item{
        width: calc((100% - 20px) / 2);
    }
}
@media screen and (min-width: 1280px){
    .vegetables-title {
            margin-bottom: 25px;

        }
    .vegetables-list{
        column-gap: 21px;
    }
         .vegetables-item {
             width: calc((100% - 42px) / 3);
         }
}
